@media (max-width: 1440px) {
  .container {
    max-width: 1180px;
  }
  .header_content {
    max-width: 1180px;
    margin: 0 auto;
  }
  .showcase_container {
    max-width: 1180px;
    margin: 0 auto;
  }
}

@media (max-width: 1180px) {
  .container {
    max-width: 980px;
  }
  .header_content {
    max-width: 980px;
    margin: 0 auto;
  }
  .showcase_container {
    max-width: 980px;
    margin: 0 auto;
  }
}

@media (max-width: 980px) {
  .container {
    max-width: 900px;
  }
  .header_content {
    max-width: 900px;
    margin: 0 auto;
  }
  .showcase_container {
    max-width: 980px;
    margin: 0 auto;
  }

  header .btn_responsive {
    display: block;
    margin-right: 2rem;
    padding: 1rem 0;
  }

  .logo img {
    display: block;
    width: 180px;
  }

  header .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 3.9rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    height: 100vh;
    background: var(--white);
    width: 350px;
    z-index: 1000;
  }

  header .navbar.display {
    left: 0%;
    transition: all 0.6s ease-in-out;
  }

  header .navbar a {
    display: block;
    font-size: 1.3rem;
    margin: 0rem 0 1rem 2rem;
    padding: 0.5rem 15px;
  }

  /* showcase start */
  .right_side_content {
    display: none;
  }

  .showcase_container {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }
  /* showcase close */

  /* designation start */
  .containger_grid {
    grid-template-columns: repeat(1, 1fr);
  }
  /* designation close */

  /* proposal start */
  .pro_grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    grid-gap: 1rem;
    padding: 2rem 0;
  }

  .primary_content h2 {
    font-size: 1.5rem;
  }

  .content_items h3 {
    font-size: 2.5rem;
  }

  .content_items p {
    font-size: 1.2rem;
  }
  /* proposal close */

  /* parallax_content start */
  .form-group {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .form-fiels {
    padding: 0rem 2rem;
  }
  /* parallax_content close */

  /* news and event start */
  .box_group {
    grid-template-columns: repeat(1, 1fr);
    padding: 0rem 2rem;
  }
  /* news and event close */

  /* counting num start */
  .num_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 0rem;
  }
  /* counting num close */

  /* pricing table start  */
  .pricing_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
    padding: 0rem 2rem;
  }
  /* pricing table close */

  /* footer start */
  .without_bg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem;
  }

  .footer_columns {
    display: grid;
    grid-template-columns: 2fr repeat(1, 1fr);
    /* grid-column-gap: 4rem; */
  }

  /* footer close */

  @media (max-width: 568px) {
    .num_content {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding: 2rem 0rem;
    }

    .footer_columns {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      /* grid-column-gap: 4rem; */
    }
  }
}
