@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

:root {
  --primary_color: #14b9d5;
  --light_gray: #f4f4f4;
  --white: #fff;
  --black: #000;
  --roboto: "Roboto";
  --poppins: "Poppins";

  /* MaxWidth: */
  --max-width: 1440px;

  /* Transition */
  --transition-1: all 0.3s ease-in-out;
  --transition-2: all 0.6s ease-in-out;
}

/* Reset start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Reset close */

/* utality start */
body {
  background: var(--light_gray);
  font-family: var(--poppins);
}

html {
  font-size: 80%;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.lead {
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: justify;
}

.lead2 {
  font-size: 1.3rem;
  text-align: center;
}

.lead3 {
  font-size: 1.2rem;
  padding: 1.1rem 0;
  text-align: justify;
}

.btn_normal {
  margin: 1.2rem 0;
  padding: 0.8rem 1.5rem;
  font-size: 1.3rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 05px;
  transition: var(--transition-1);
}

.my-1 {
  margin: 4rem 0;
}

.heading-1 {
  font-size: 3rem;
}

.heading-2 {
  font-size: 4rem;
}

/* utality close */

/* navbar start */
header {
  width: 100%;
  background: var(--white);
  box-shadow: 0px 02px 03px rgba(0, 0, 0, 0.2);
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar {
  list-style: none;
  display: flex;
  margin: 2rem 0;
  position: relative;
}

.navbar li a {
  color: var(--black);
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 04px;
  margin: 0 0.5rem;
}

.navbar li a:hover,
.active {
  background: var(--primary_color);
  color: var(--white);
  transition: var(--transition-1);
}

.logo img {
  display: block;
  width: 200px;
}

.btn_responsive {
  font-size: 1.7rem;
  cursor: pointer;
  display: none;
}

header .navbar .btn_close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
}
/* navbar close */

/* showcase section start */
.showcase {
  background: url(../imgs/para-2.jpg) no-repeat center center/cover;
  height: 80vh;
  position: relative;
  z-index: 10;
  color: var(--white);
}

.showcase_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 100%;
  gap: 1rem;
  max-width: var(--max-width);
  margin: 0 auto;
}

.showcase_container::before {
  content: "";
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
  height: 70%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -10;
}

.left_side_content {
  transform: translateY(-1000%);
  animation-name: animate;
  animation-duration: 3s;
  animation-delay: 1s;
  transition: var(--transition-1);
  animation-fill-mode: forwards;
}

@keyframes animate {
  to {
    transform: translateY(0%);
  }
}

.left_side_content h2 {
  font-size: 4rem;
  font-family: var(--roboto);
  font-weight: 800;
  margin: 1.5rem 0;
}

.left_side_content button:hover,
.form button:hover {
  background: var(--primary_color);
  color: #fff;
}

.right_side_content {
  background: var(--light_gray);
  padding: 1rem;
  width: 75%;
  /* justify-content: flex-end; */
  margin-left: auto;
  border-radius: 15px;
  color: var(--black);

  transform: translateX(1000%);
  animation-name: animate2;
  animation-duration: 3s;
  animation-delay: 1s;
  transition: var(--transition-1);
  animation-fill-mode: forwards;
}

@keyframes animate2 {
  to {
    transform: translateY(0%);
  }
}

.form {
  margin: 1rem;
}

.form h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.form label {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
}

.form input {
  width: 100%;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 04px;
}

/* showcase section close */

/* designation start */
.containger_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 2rem 0.5rem 1rem 0.5rem;
}

.designation {
  text-align: center;
}

.large_img {
  position: relative;
}

.img_txt {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.overlay_txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary_color);
  overflow: hidden;
  transform: scale(0);
  transition: 0.9s ease;
}

.overlay_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.large_img:hover .overlay_txt {
  transform: scale(1);
}

.left_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.left_content .items:first-child {
  grid-column: 1/4;
}

.img_content {
  padding: 0.9rem;
  border: 1px solid #ccc;
  transition: var(--transition-1);
}

.img_content a {
  color: #000;
}

.img_content span i {
  padding: 0 0.6rem;
}

.img_content:hover {
  background: var(--primary_color);
}

.right_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.right_content .items:first-child {
  grid-column: 1/4;
}
/* designation close */

/* proposal start */
.proposal {
  width: 100%;
  background-color: var(--white);
}

.pro_grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-self: center;
  grid-gap: 1rem;
  padding: 2rem 0;
}

.primary_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.primary_content h2 {
  font-size: 2.2rem;
}

.content_items h3 {
  text-align: center;
}

/* proposal close */

/* parallax start */
.parallax {
  background: url("../imgs/para-2.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  width: 100%;
}

.parallax_form {
  padding: 4rem 0;
  text-align: center;
}

.form-group {
  background: var(--white);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem 0;
}

.form-fiels {
  padding: 2rem 2rem;
}

.form-fiels label {
  display: block;
  margin: 1rem 0 0.5rem 0;
  text-align: start;
  font-weight: 600;
}

.form-fiels select {
  width: 100%;
  padding: 0.6rem 0;
}

.form-fiels button {
  width: 100%;
  margin: 2rem 0;
  border: none;
  padding: 1rem 0;
  cursor: pointer;
  transition: var(--transition-1);
  font-size: 1.2rem;
}

.form-fiels button:hover {
  background: var(--primary_color);
}

/* parallax close */

/* news and article start */
.box_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 4rem 0;
}

.box_group .box-1:nth-child(1) {
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--primary_color);
  padding: 2rem;
}

.main-box h2 {
  font-size: 3rem;
  padding: 0rem 0 1rem 0;
}

.main-box p {
  margin: 1rem 0;
}

.main-box button {
  width: 50%;
  border: none;
  padding: 0.8rem 0;
  border-radius: 20px;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 1rem 0;
}

.box-1 {
  padding: 2rem;
  border: 1px solid var(--white);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.box-1 h3 {
  font-size: 2.2rem;
}

.box-1 .btn {
  width: 50%;
  border: none;
  padding: 0.8rem 0;
  border-radius: 20px;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 1rem 0;
  transition: all 0.3s ease-in-out;
}

.box-1 .btn:hover {
  background: var(--white);
}

/* news and article close */

/* parallax image with numbers start */
.counting_numbers {
  width: 100%;
  background: url("../imgs/parallax-4.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}

.num_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 0;
}

.num_content .nums {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0.8rem;
}

.num_content h4 {
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: 600;
}
.num_content span {
  font-size: 1.2rem;
}

/* parallax image with numbers close */

/* pricing table start */
.pricing {
  width: 100%;
}

.pricing ul {
  list-style-type: none;
  margin-top: 1rem;
}

.pricing_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.pricing_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricing_data h2 {
  font-size: 4rem;
}

.pricing_data sup {
  font-size: 2rem;
}

.pricing_box {
  border: 1px solid var(--white);
  padding: 3rem;
}

.pricing_box .label {
  background: var(--black);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 20px;
}

.pricing_box h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2.5rem;
  padding-bottom: 1rem;
}

.pricing_box ul li {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.pricing_box button {
  margin: 2rem 0;
  padding: 0.6rem 1.6rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: var(--primary_color);
  transition: all 0.3s ease-in-out;
}

.pricing_box button:hover {
  background: var(--white);
}

.pricing_box i {
  padding-right: 1rem;
}

.primay_active {
  background: var(--primary_color);
}

.primay_active button {
  background: var(--white);
}
/* pricing table close */

/* footer start */
.footer_area {
  width: 100%;
  background: url("../imgs/para-11.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  padding: 6.5rem 0;
}

.without_bg {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.without_bg h2 {
  font-size: 4rem;
  font-weight: 800;
}

.without_bg form input {
  width: 100%;
  padding: 0.8rem 3.5rem;
  border: none;
  font-size: 1.5rem;
}

.without_bg button {
  margin: 1.5rem 0;
  padding: 0.8rem 4rem;
  background: var(--primary_color);
  border: none;
  border-radius: 40px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.without_bg button:hover {
  background: var(--white);
}

.footer_columns {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  grid-column-gap: 4rem;
}

.footer_inner_content {
  background: var(--white);
  padding: 3rem;
}

.footer_columns img {
  width: 40%;
}

.first_box p {
  font-size: 1.2rem;
  padding: 1.8rem 0;
}

.first_box .social_icons {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first_box .social_icons i {
  font-size: 2rem;
  color: var(--black);
  background: var(--white);
  padding: 1rem;
  margin: 0 1rem 0rem 0rem;
  border-radius: 50%;
  transition: var(--transition-1);
}

.first_box .social_icons i:hover {
  background: var(--primary_color);
}

.second_box h4 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.second_box ul {
  list-style-type: none;
}

.second_box ul li {
  margin: 0.8rem 0;
}

.second_box ul li a {
  font-size: 1.2rem;
  color: var(--black);
}

.copy_right {
  background: var(--primary_color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem 1rem 2rem;
  color: var(--white);
}
/* footer close */ ;
